<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GETSEATGO | Admin Movies</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/adminlogin.css">
</head>

<body>

  <div class="container">
    <h1>Movies</h1>
    <h5 class="mb-4">Welcome <%= user.email %> <a href="/admin/logout" class="btn btn-success rounded-pill">Log
        Out</a></h5>

    <a href="/admin/movies/new" class="btn btn-success rounded-pill">New</a>

    <% movies.forEach(movie => { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title">
          <%= movie.title %>
        </h4>
        <div class="card-subtitle text-muted mb-2">
          <%= movie.createdAt.toLocaleTimeString("en-PH", {
              day:'numeric',
              month: 'numeric',
              year: 'numeric',
              hour: '2-digit',
              minute: '2-digit',
              second: '2-digit',
          }) %>
        </div>
        <div class="card-text mb-2">
          <%= movie.description %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <footer>
    <div class="footer-container text-center">
      <p>GETSEATGO &copy; All Rights Reserved 2020</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset error
      emailError.textContent = ''
      passwordError.textContent = ''

      //get the values

      const email = form.email.value
      const password = form.password.value

      try {
        const res = await fetch('/admin/login', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json' }
        })
        const data = await res.json()

        if (data.errors) {
          emailError.textContent = data.errors.email
          passwordError.textContent = data.errors.password


        }
        if (data.user) {
          location.assign('/admin')
        }

        console.log(data)
      } catch (error) {
        console.log(error)
      }
    })
  </script>
</body>

</html>