<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GETSEATGO | Reset Password</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/adminlogin.css">
</head>

<body>
  <div class="d-flex justify-content-center align-items-center login-container">
    <form class="login-form text-center">
      <a href="/"><img src="/images/logos.png" class="mb-4" width="100%"></a>


      <div class="form-group">
        <input id="password" type="password" class="form-control rounded-pill form-control-lg" name="password"
          placeholder="Password">
      </div>
      <div class="form-group">
        <input id="confirm" type="password" class="form-control rounded-pill form-control-lg" name="confirmPassword"
          placeholder="Confirm Password">
        <div class="password error"></div>
        <div class="password success"></div>

      </div>

      <button id="button" class="btn mt-4 rounded-pill btn-lg btn-custom btn-block text-uppercase">Change
        Password</button>
    </form>
  </div>

  <footer>
    <div class="footer-container text-center">
      <p>GETSEATGO &copy; All Rights Reserved 2020</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    const form = document.querySelector('form')
    const passwordError = document.querySelector('.password.error')
    const passwordSuccess = document.querySelector('.password.success')
    const pass = document.getElementById('password')
    const passConfirm = document.getElementById('confirm')
    const button = document.getElementById('button')


    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset error
      passwordError.textContent = ''

      //get the values

      const password = form.password.value
      const confirmPassword = form.confirmPassword.value

      if (confirmPassword === password) {
        try {
          const res = await fetch(window.location.pathname, {
            method: 'POST',
            body: JSON.stringify({ password, confirmPassword }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()

          if (data.errors) {
            passwordError.textContent = data.errors.password
          }

          if (data.user) {
            button.disabled = true
            pass.disabled = true
            passConfirm.disabled = true
            passwordSuccess.textContent = 'Password Changed Successfully'
          }


        } catch (error) {
          console.log(error)
        }
      } else {
        passwordError.textContent = 'Password does not match'
      }
    })
  </script>
</body>

</html>