<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GETSEATGO | Reset Password</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/adminlogin.css">
</head>

<body>
  <div class="d-flex justify-content-center align-items-center login-container">
    <form class="login-form text-center">
      <a href="/"><img src="/images/logos.png" class="mb-4" width="100%"></a>
      <div class="form-group">
        <input type="email" class="form-control rounded-pill form-control-lg" name="email" placeholder="Email">
        <div class="email error"></div>
      </div>
      <div id="success"></div>



      <button class="btn mt-4 rounded-pill btn-lg btn-custom btn-block text-uppercase">Submit</button>
    </form>
  </div>

  <footer>
    <div class="footer-container text-center">
      <p>GETSEATGO &copy; All Rights Reserved 2020</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    const params = new URLSearchParams(window.location.search)
    const success = document.getElementById('success')
    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset error
      emailError.textContent = ''

      //get the values

      const email = form.email.value

      try {
        const res = await fetch('/reset', {
          method: 'POST',
          body: JSON.stringify({ email }),
          headers: { 'Content-Type': 'application/json' }
        })
        const data = await res.json()

        if (data.errors) {
          emailError.textContent = data.errors.email
        }
        if (data.sent) {
          success.textContent = 'Email Sent'
        }

        console.log(data)
      } catch (error) {
        console.log(error)
      }
    })
  </script>
</body>

</html>